In [1]:
import pandas as pd

ap = pd.read_csv('_ap_v25_10%.csv', index_col = 0 )
na = pd.read_csv('_na_v25_10%.csv', index_col = 0)
eu = pd.read_csv('_eu_v25_10%.csv', index_col = 0)
br = pd.read_csv('_br_v25_10%.csv', index_col = 0)
latam = pd.read_csv('_latam_v25_10%.csv', index_col = 0)
kr = pd.read_csv('_kr_v25_10%.csv', index_col = 0)
ap_low = pd.read_csv('_ap_low_v25_100%.csv', index_col = 0)
df = pd.concat([ap,ap_low,na,eu,br,latam,kr])
df = df.reset_index()

kolom = (['nickname','region', 'rank','rank_rr','rank_rating','level', 'match', 'playtime_hours', 
                'damage_round','kill_death_ratio','headshot_rate','winrate', 'win', 'kast','damage_roun','kills','death','assist','acs',
                'kad_ratio','kill_round_ratio','first_blood','flawless_round','aces' ,'round_win',
                'agent1','agent1_hours' ,'matches1', 'win_rate1', 'k/d1', 'adr1', 'acs1', 'average_ddealt_round1', 'best_map1','map1_wr',
                'agent2', 'agent2_hours','matches2', 'win_rate2', 'k/d2', 'adr2', 'acs2', 'average_ddealt_round2', 'best_map2','map2_wr',
                'agent3', 'agent3_hours','matches3', 'win_rate3', 'k/d3', 'adr3', 'acs3', 'average_ddealt_round3', 'best_map3','map3_wr', 
                'role1', 'win_rate1', 'win_lose1', 'kda_rate1', 'kda1', 
                'role2', 'win_rate2', 'win_lose2', 'kda_rate2', 'kda2','role3', 'win_rate3', 'win_lose3', 'kda_rate3', 'kda3',
                'role4', 'win_rate4', 'win_lose4', 'kda_rate4', 'kda4','weapon_name1', 'weapon_type1', 'head_rate1', 'body_rate1', 'legs_rate1', 'kills1',
                'weapon_name2', 'weapon_type2', 'head_rate2', 'body_rate2', 'legs_rate2', 'kills2',   'weapon_name3', 'weapon_type3', 'head_rate3','body_rate3',
                'legs_rate3', 'kills3','map_name1', 'win_rate1', 'win_lose1','map_name2', 'win_rate2', 'win_lose2','map_name3', 'win_rate3', 'win_lose3',
                'map_name4', 'win_rate4', 'win_lose4', 'map_name5', 'win_rate5', 'win_lose5','map_name6', 'win_rate6', 'win_lose6','map_name7', 'win_rate7', 
                'win_lose7'])
df = df.drop('index', axis=1)
df.columns = kolom
df

,nickname,region,rank,rank_rr,rank_rating,level,match,playtime_hours,damage_round,kill_death_ratio,...,win_lose4,map_name5,win_rate5,win_lose5,map_name6,win_rate6,win_lose6,map_name7,win_rate7,win_lose7
0,FS seph1roth#nname,ap,Radiant,906.0,7.0,536.0,172.0,94.0,157.5,1.16,...,16.11,Pearl,57.1,16.12,Bind,56.0,14.11,Fracture,33.3,8.15
1,GEN Foxy9#WAK,ap,Radiant,696.0,52.0,710.0,145.0,84.0,165.9,1.45,...,11.80,Abyss,45.8,11.13,Haven,40.9,9.13,Fracture,33.3,5.10
2,SIB Dokja#HERO,ap,Radiant,885.0,9.0,394.0,171.0,97.0,148.5,1.19,...,16.80,Haven,56.5,13.10,Abyss,50.0,13.13,Split,33.3,7.14
3,Leg1t#1205,ap,Radiant,676.0,69.0,143.0,81.0,43.0,132.9,0.95,...,6.40,Pearl,54.5,6.50,Bind,54.5,6.50,Lotus,50.0,6.60
4,Zayn#Girls,ap,Radiant,690.0,55.0,272.0,113.0,65.0,145.3,1.14,...,10.90,Fracture,50.0,8.80,Pearl,43.8,7.90,Bind,35.7,5.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3750,데이지#겸손함,kr,Immortal 2,121.0,436.0,134.0,184.0,101.0,145.6,0.95,...,14.10,Abyss,52.0,13.12,Lotus,44.4,12.14,Bind,41.7,10.14
3751,리승주#하남자,kr,Immortal 1,17.0,1507.0,54.0,72.0,40.0,140.1,0.94,...,6.40,Fracture,54.5,6.50,Lotus,50.0,5.50,Bind,50.0,5.50
3752,C9 OXY#Jjap,kr,Immortal 1,49.0,989.0,516.0,173.0,97.0,154.9,1.18,...,13.10,Abyss,53.8,14.12,Fracture,44.4,12.14,Bind,42.9,12.15
3753,Kulusevski#Dejan,kr,Immortal 1,6.0,1838.0,294.0,163.0,88.0,148.8,1.01,...,15.10,Fracture,57.1,12.90,Abyss,55.0,11.80,Split,52.2,12.11
3754,Lucid Dreamツ#77777,kr,Immortal 1,47.0,1009.0,341.0,272.0,153.0,128.3,0.92,...,20.18,Split,51.4,19.18,Bind,50.0,19.18,Haven,47.5,19.20

In [2]:
agent_role = pd.read_excel('agent_role.xlsx')
agent_role = agent_role.drop('no',axis=1)
agent_role['agent'] = [ i.replace('\xa0','') for i in agent_role['agent']]
agent_role['role']  = [  i.replace('\xa0','') for i in agent_role['role']]

df = df.merge(agent_role, left_on='agent1', right_on='agent', how='left').drop(columns=['agent']).rename(columns={'role':'agent1_role'})
df = df.merge(agent_role, left_on='agent2', right_on='agent', how='left').drop(columns=['agent']).rename(columns={'role':'agent2_role'})
df = df.merge(agent_role, left_on='agent3', right_on='agent', how='left').drop(columns=['agent']).rename(columns={'role':'agent3_role'})

In [3]:
df = df[['region','level', 'match', 'playtime_hours', 
                'damage_round','kill_death_ratio','headshot_rate','winrate', 'win', 'kast','damage_roun','kills','death','assist','acs',
                'kad_ratio','kill_round_ratio','first_blood','flawless_round','aces' ,'round_win',
                'agent1','agent1_role','agent1_hours' ,'matches1', 'win_rate1', 'k/d1', 'adr1', 'acs1', 'average_ddealt_round1', 'best_map1','map1_wr',
                'agent2','agent2_role','agent2_hours','matches2', 'win_rate2', 'k/d2', 'adr2', 'acs2', 'average_ddealt_round2', 'best_map2','map2_wr',
                'agent3','agent3_role','agent3_hours','matches3', 'win_rate3', 'k/d3', 'adr3', 'acs3', 'average_ddealt_round3', 'best_map3','map3_wr', 'weapon_name1', 'weapon_type1', 'head_rate1', 'body_rate1', 'legs_rate1', 'kills1',
                'weapon_name2', 'weapon_type2', 'head_rate2', 'body_rate2', 'legs_rate2', 'kills2',   'weapon_name3', 'weapon_type3', 'head_rate3','body_rate3',
                'legs_rate3', 'kills3']]

In [6]:
df

,region,level,match,playtime_hours,damage_round,kill_death_ratio,headshot_rate,winrate,win,kast,...,head_rate2,body_rate2,legs_rate2,kills2,weapon_name3,weapon_type3,head_rate3,body_rate3,legs_rate3,kills3
0,ap,536.0,172.0,94.0,157.5,1.16,42.1,58.7,101.0,73.9,...,58.0,40.0,1.0,276.0,Sheriff,Sidearms,68.0,31.0,0.0,184.0
1,ap,710.0,145.0,84.0,165.9,1.45,36.5,53.8,78.0,74.6,...,48.0,49.0,3.0,239.0,Phantom,Assault Rifles,37.0,59.0,5.0,130.0
2,ap,394.0,171.0,97.0,148.5,1.19,29.2,58.5,100.0,74.5,...,26.0,69.0,5.0,366.0,Ghost,Sidearms,51.0,48.0,1.0,253.0
3,ap,143.0,81.0,43.0,132.9,0.95,30.1,63.0,51.0,71.5,...,55.0,43.0,2.0,105.0,Guardian,Assault Rifles,50.0,50.0,0.0,85.0
4,ap,272.0,113.0,65.0,145.3,1.14,35.3,55.8,63.0,72.1,...,44.0,50.0,6.0,157.0,Sheriff,Sidearms,57.0,42.0,1.0,135.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3750,kr,134.0,184.0,101.0,145.6,0.95,29.4,56.0,103.0,71.6,...,40.0,56.0,4.0,384.0,Sheriff,Sidearms,49.0,48.0,3.0,215.0
3751,kr,54.0,72.0,40.0,140.1,0.94,22.8,62.5,45.0,70.8,...,32.0,65.0,4.0,153.0,Sheriff,Sidearms,53.0,46.0,1.0,50.0
3752,kr,516.0,173.0,97.0,154.9,1.18,31.1,53.8,93.0,73.0,...,39.0,57.0,4.0,392.0,Sheriff,Sidearms,49.0,50.0,2.0,266.0
3753,kr,294.0,163.0,88.0,148.8,1.01,29.4,60.1,98.0,69.6,...,38.0,58.0,3.0,554.0,Sheriff,Sidearms,54.0,45.0,0.0,153.0
3754,kr,341.0,272.0,153.0,128.3,0.92,25.5,53.3,145.0,69.5,...,42.0,53.0,5.0,1056.0,Sheriff,Sidearms,50.0,49.0,1.0,226.0

In [6]:
pd.crosstab(df['agent1'],df['weapon_type1'], margins = False)

weapon_type1,Assault Rifles,Heavy Weapons,SMGs,Shotguns,Sidearms,Sniper Rifles
agent1,,,,,,
Astra,35,0,0,0,0,0
Breach,55,0,0,0,0,0
Brimstone,20,0,0,1,0,0
Chamber,103,1,0,0,0,4
Clove,718,0,0,1,0,0
Cypher,261,0,0,0,0,0
Deadlock,48,0,1,0,0,0
Fade,29,0,0,0,0,0
Gekko,20,1,0,0,0,0
Iso,107,0,0,0,0,0
Jett,880,0,0,0,0,1
KAY/O,1,0,0,0,0,0
Killjoy,70,0,0,0,0,0
Neon,91,0,0,4,0,1
Omen,69,0,0,1,0,0
Phoenix,28,0,0,0,0,0
Raze,163,0,0,1,0,0
Reyna,317,0,1,0,1,0
Sage,41,0,0,0,0,0
Skye,32,0,0,1,0,0
Sova,125,1,0,0,0,0
Tejo,243,0,0,0,0,0
Viper,3,0,0,0,0,0
Vyse,37,0,0,0,0,0
Yoru,52,1,0,0,0,0

In [7]:
df.to_csv('Dataset_clustering.csv')

In [ ]:
df = df.merge(agent_role, left_on='agent1', right_on='agent', how='left').drop(columns=['agent']).rename(columns={'role':'agent1_role'})
df = df.merge(agent_role, left_on='agent2', right_on='agent', how='left').drop(columns=['agent']).rename(columns={'role':'agent2_role'})
df = df.merge(agent_role, left_on='agent3', right_on='agent', how='left').drop(columns=['agent']).rename(columns={'role':'agent3_role'})